# build folder and support files
build
*.dblite
# OS specific files
.DS_Store
# Compiled Object files
*.o
*.obj
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Compiled Static libraries
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app
# vim swap files
*.swp
# ctags
tags
